<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class = background style="background-image: url(https://gymn-benedictinum.de//templates/gymbentemplate/img/background.jpg)">
        <div class="container">
            <div class="header-desktop hidden-xs">
                
                            <div class="logo logo-desktop">
                    <a href="/"><img src="https://gymn-benedictinum.de//templates/gymbentemplate/img/logo.png"/></a>
                    <div class="bar">
                        <div class="bar-text-parent">
                            <div class="bar-text-child">
                                Gymnasium der Benediktiner<br/>Meschede
                                <div class="bar-square-parent">
                                    <div class="yellow colored-square"></div>
                                    <div class="red colored-square"></div>
                                    <div class="theme-blue colored-square"></div>
                                    <div class="cyan colored-square"></div>
                                    <div class="light-green colored-square"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
    </div>
    <div id="menu">
        <div class="linkdiv"><a class="link" href="/stream">Livestream aus der Klosterkirche</a></div>
        <div class="linkdiv"><a class="link" href="/paint">Paint</a></div>
    </div>

    </div>
</body>
</html>
