#upload{
    background-color: rgba(205, 205, 205, 0.7);
    height: 200px;
}

#upload h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#upload form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.ib{
    border: none;
    border-radius: 10px;
    background: transparent;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0057b300;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#ibs{
    display: none;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0057b300;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#file1{
    margin-top: -100;
}

#video{
    margin-top: 300px;
    margin-left: 300px;
}

#menu{
    background-color: rgba(205, 205, 205, 0.7);
    padding: 1rem;
}

#menu .linkdiv .link{
    text-decoration: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .3);
}

#menu .linkdiv{
    padding: 5px;
}